@use "sass:math";
@import "./variables/border_widths";
@import "./variables/colors";
@import "./variables/corner_radius";
@import "./variables/fonts";
@import "./variables/icons";
@import "./variables/max_widths";
@import "./variables/shadows";
@import "./variables/spacing";
@import "./variables/target_sizes";
@import "./variables/themes";

@import "./text-styles";

:root {
	scrollbar-gutter: stable;
	scrollbar-color: var(--focus-outline_primary) transparent;
	transition: scrollbar-color $animStyle $animSpeed;

	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

:focus {
	outline-color: var(--focus-outline_primary);
}

//without this all <button>s have bad outline colors in firefox
:focus::-moz-focus-inner {
	padding: 0; //prevent weirdness just in case
	border-color: var(--focus-outline_primary);
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: var(--focus-outline_primary);
}

body {
	background-color: var(--background_primary);
	margin: 0;
	padding: 0;
	color: var(--foreground_emphasis-high);
	transition:
		color $animStyle $animSpeed,
		background-color $animStyle $animSpeed;
}

/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden a:focus,
.visually-hidden input:focus,
.visually-hidden button:focus {
	position: static;
	width: auto;
	height: auto;
}
